<div class="header">
  <div class="Headeroverlay"></div>
  <div class="container Navigation">
  <div class="row">
    <div class="tab col-lg-2 col-md-2 col-sm-2 col-xs-2" routerLink="/Home"><a >HOMEPAGE</a></div>
    <div class="tab col-lg-2 col-md-2 col-sm-2 col-xs-2" routerLink="/Gallery"><a >GALLERY</a></div>
    <div class="tab col-lg-2 col-md-2 col-sm-2 col-xs-2" routerLink="/Products"><a >PRODUCTS</a></div>
    <div class="tab col-lg-2 col-md-2 col-sm-2 col-xs-2"><a >SERVICES</a></div>
    <div class="tab col-lg-2 col-md-2 col-sm-2 col-xs-2"><a >CONTACTS</a></div>
  </div>
  </div>
</div>
