<div class="headecontainer">
<ng2-slim-loading-bar [color]="'orange'"></ng2-slim-loading-bar>
<div class="header">
  <div class="Headeroverlay"></div>
  <div class="navtab " routerLink="/Home"><a>HOMEPAGE</a></div>
  <div class="navtab " routerLink="/Gallery"><a>GALLERY</a></div>
  <div class="navtab " routerLink="/Products"><a>PRODUCTS</a></div>
  <div class="navtab " routerLink="/Exporting"><a>EXPORTING</a></div>
  <div class="navtab loginClass" (click)="Adminlogin()" ><a><i class="fa fa-user" aria-hidden="true"></i> Login</a></div>
</div>
</div>
