<div class="Gallerybody">

  <div class="GalleryContainer ">
    <div *ngIf="!globalService.loadingIndicator ;else load"></div>
    <div class="galleryItem" *ngFor="let images of img">
      <div class="galleryItemOverlay"></div>
      <img src="{{globalService.globalDomain}}/storage/{{images}}" alt="" class="imageGallery">
    </div>

    <ng-template #load>
      <app-loading-indicator style=" position: relative;margin-top: 10%;width: 100%;"></app-loading-indicator>
    </ng-template>
  </div>

</div>

