<div class="Exportingbody">
  <img class="exportingBackground" src="../../assets/images/background/container.jpg" alt="">
  <div class="exportingOverlay"></div>
  <div class="ExportingContainer">

    <div class="inputItem">
      <div class="form-group">
        <label for="name">Full Name</label>
        <input id="name" type="text" placeholder="Eg: John Davidson" [(ngModel)]="name" class="form-control">
      </div>
    </div>
    <div class="inputItem">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input id="email" type="email" placeholder="Eg: example@hotmail.com" [(ngModel)]="email" class="form-control">
      </div>
    </div>
    <div class="inputItem">
      <div class="form-group">
        <label for="product">Products</label>
        <select id="product" class="form-control" [(ngModel)]="product">
          <option value="{{viewProduct[0]}}" *ngFor="let viewProduct of products">{{viewProduct[0]}}</option>
        </select>
      </div>
    </div>
    <div class="inputItem">
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input id="quantity" type="number" placeholder="Eg: 1" min="1" class="form-control" [(ngModel)]="quantity">
      </div>

    </div>
    <div class="inputItem">
      <div class="form-group">
        <label for="date">Due Date</label>
        <datepicker id="date" [(ngModel)]="date" [minDate]="minDate" [showWeeks]="true"
                    [dateDisabled]="dateDisabled"></datepicker>
      </div>
    </div>
    <div class="inputItem">
      <div class="form-group">
        <label for="details">Extra Details</label>
        <textarea id="details" placeholder="Extra details." class="exportTextArea" [(ngModel)]="details"></textarea>
      </div>
    </div>
    <div class="ViewReport">
      <div class="report">
        <div class="reportItem">Name:</div>
        <div class="reportItem">{{name}}</div>
        <div class="reportItem">Email:</div>
        <div class="reportItem">{{email}}</div>
        <div class="reportItem">Product:</div>
        <div class="reportItem">{{product}}</div>
        <div class="reportItem">Quantity:</div>
        <div class="reportItem">{{quantity}}</div>
        <div class="reportItem">Date:</div>
        <div class="reportItem">{{date | date:'fullDate'}}</div>
        <div class="reportItem">Details:</div>
        <div class="reportItem">{{details}}</div>
      </div>
    </div>
    <div class="inputItem" style="width: 100%">
      <button style=" width: 100%;" class="btn btn-success" (click)="ExpoertRequest()">Submit</button>
    </div>
    <div class="inputItem  ">
      <p class="sideInfo">* We typically respond within 24 hours</p>
    </div>

  </div>

</div>
