<div class="ProductBody">
  <div class="ProductBodyBackground">
    <img src="../../assets/images/background/462-edited.jpg" alt=""></div>

  <div class="ProductBodyContainer container-fluid">
    <div class="Title ProductsTitle">
      <p>Products</p>
    </div>
    <div class="row">
    <div *ngFor="let product of products">
      <div class="col-lg-3">
        <div class="Product">
        <div class="productSection"><p>{{product[0]}}</p></div>
          <img style="width: 50px;height: 50px;margin-top: 25%" *ngIf="spinner" src="../../assets/images/spinner.svg" alt="">
        <img [hidden]="spinner" (load)="onLoad()" src="../../assets/images/grapes.jpg" alt="">
        </div>
      </div>
    </div>
</div>
  </div>
</div>
