<div class="ProductBody">
  <div class="ProductBodyBackground">
    <img src="../../assets/images/farm2.jpg" alt=""></div>

  <div class="ProductBodyContainer container-fluid">
    <div class="Title">
      <p>Products</p>
    </div>
    <div class="row">
    <div *ngFor="let product of products">
      <div class="col-lg-3">
        <div class="Product">
        <div class="productSection"><p>{{product[0]}}</p></div>
        <img src="../../assets/images/grapes.jpg" alt="">
        <div class="productSection"><p>{{product[1]}}/Year</p></div>
        </div>
      </div>
    </div>
</div>
  </div>
</div>
