<div class="LandingBody">
  <img src="../../assets/images/background/445.JPG" alt="">
  <div class="Overlay"></div>
  <div id="Landinglogo">
    <p>Hamouda Farm</p>
  </div>
  <div class="motoBlock">
    <div class="motowrapper" id="motoLandingText2"><p>We use only <span>RELIABLE</span> methods</p></div>
    <div class="motowrapper" id="motoLandingText1"><p><span>100% ORGANIC</span> farming</p></div>
    <div class="motowrapper" id="motoLandingText3"><p>We farm, You <span>EAT</span></p></div>
  </div>
  <div class="newsFeedButton" routerLink="/NewsFeed"><a> News Feed</a></div>
</div>
