/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ebffda;
}

#loadingGif {
  margin-left: 45%;
  margin-top: 20%;
}

.slim-loading-bar {
  background-color: #ff9100;
}

/*----------------------header-------------------------*/
.headecontainer
{
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 80px;
}
.header {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.Headeroverlay {
  background-color: #000000;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
}

.slim-loading-bar {
  position: relative;
  background-color: #8e8d91;
}

.header .navtab {
  z-index: 2;
  height: inherit;
  width: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: background-color 0.4s;
}

.header .navtab:hover {
  background-color: orange;
  cursor: pointer;
}



.header .navtab a {
  position: relative;
  align-self: center;
  z-index: 2;
  color: #f5f5f5;
}

.header .navtab a:hover {
  color: #ffffff;
}

/*========================================== Exporting body =========================*/

.Exportingbody {
  width: 100%;
  position: absolute;
  height: 999px;
}

.exportingBackground {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: inherit;
}

.exportingOverlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: inherit;
  background-color: black;
  opacity: 0.4;
}

.ExportingContainer {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  background-color: rgba(0, 0, 0, .6);
  margin-top: 10%;
  margin-left: 10%;

}
.inputItem :hover{
  cursor: pointer;
}
.inputItem {
  width: 500px;
  min-height: 80px;
  margin-bottom: 1%;
  padding:2%;

}
.CustomDropDown{
  width: 455px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 3px;
  color: grey;
}
.dropdown-menu{
  width: 455px;
}
.fa-caret-down{
  float: right;
  margin: 0%;
  background-color: #e97f01;
  padding-left: 4.5%;
  padding-top: 0%;
  height: inherit;
  color: #505151;
  width: 70px;
  border-radius: 3px;
}
.fa-caret-down:hover{
  background-color: #e9af0a;
}
.inputItem p {
  color: grey;
  font-family: Georgia,sans-serif;
  font-size: 20px;
  display: inline-block;
  margin: 1%;
}
.exportTextArea {
  width: 455px;
  color: grey;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  min-height: 200px;
}
.sideInfo{
  color: #ffffff !important;
}
.sideInfo:hover{
  cursor: text !important;
}
.report
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.reportItem{
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-family: Georgia,sans-serif;
  font-size: 18px;
}
/*========================================== landing body =========================*/
.LandingBody {
  position: relative
}

.LandingBody img {
  position: absolute;
  width: 100%;

}

.LandingBody .motowrapper {
  background-color: #000000;
  text-align: center;
  position: relative;
  padding: 10px;
  height: 60px;
  margin-bottom: 1px;

}

.LandingBody .motoBlock {
  margin-left: 32%;
  margin-top: 20%;
  position: absolute;
}

.LandingBody .motowrapper p {
  font-size: 27px;
  font-family: Georgia, sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.LandingBody #motoLandingText2 {
  width: 550px;

}

.LandingBody #motoLandingText1 {
  width: 400px;
  margin-left: 14%;
}

.LandingBody #motoLandingText3 {
  margin-left: 23%;
  width: 300px;
}

.LandingBody span {
  color: orange;

}

.LandingBody .Overlay {
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: #000000;
  opacity: 0.5;
  border-radius: 160px;
  margin-top: 15%;
  margin-left: 5%;
}

.LandingBody #Landinglogo {
  width: 300px;
  height: 300px;
  position: absolute;
  margin-top: 15%;
  margin-left: 5%;
  border-radius: 160px;
}

@font-face {
  font-family: font1;
  src: url(./assets/Packages/fonts/Blacksword.otf);
}

.LandingBody #Landinglogo p {
  color: #ffffff;
  position: relative;
  font-size: 33px;
  font-family: font1;
  margin-left: 14%;
  margin-top: 65%;
}

.LandingBody .newsFeedButton {
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
  position: absolute;
  margin-top: 53%;
  margin-left: 41%;
  background-color: #000000;
  border-radius: 5px;
}

.LandingBody .newsFeedButton:hover {
  background-color: #f08400;
  cursor: pointer;
}

.LandingBody .newsFeedButton a {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 25px;
}

.LandingBody .newsFeedButton a:hover {
  color: #ffffff;
}

/*========================================= news feed =======================================*/
.newsFeedBody {
  position: absolute;
  width: 100%;
}

.newsFeedBody .newsfeedBackground {
  position: absolute;
  width: 100%;
}

.newsFeedBody .newsfeedBackground img {
  width: 100%;
}

/*===========news feed post ===============*/
.newsfeedPostContainer {
  position: relative;
  margin-top: 12%;
}

.newsfeedPostContainer .timeline .PostPictures img {
  width: 150px;
  height: 150px;
}

.newsfeedPostContainer .Post {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #efe7e7;
}
.Post:nth-child(even){
  background-color: orange;
}
.newsfeedPostContainer .PostPictures {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 2%;
}

.newsfeedPostContainer .PostPictures div {
  margin-top: 1%;
  margin-bottom: 1%;

}

.newsfeedPostContainer .row iframe {
  width: 100%;
  position: relative;
  display: block;
}

.newsfeedPostContainer .PostCaption {
  text-align: center;
  position: relative;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

.newsfeedPostContainer .PostCaption p {
  font-size: 20px;
  font-family: Georgia, sans-serif;
}

.newsfeedPostContainer .PostDate {
  position: relative;
  display: flex;
  justify-content: center;
}
.newsfeedPostContainer .PostDate p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: 42px;
  width: 200px;
  background: orange;
  border-radius: 8px 8px 0px 0px;
}

/*======================================================= products view =====================*/
.ProductBody {
  position: relative;
}

.ProductBody .ProductBodyBackground {
  position: absolute;
  width: 100%;
}

.ProductBody .ProductBodyBackground img {
  width: 100%;
}

.ProductBody .ProductBodyContainer {
  margin-top: 12%;
  width: 100%;
  position: absolute;
}

.ProductBody .ProductBodyContainer .row {
  width: 100%;
  margin-left: 0;
}

.ProductBody .Product {
  text-align: center;
  background-color: rgb(247, 156, 28);
  height: 310px;
  padding-top: 1.5%;
  margin: 5px;
  margin-bottom: 10%;
}

.ProductBody .Product img {
  width: 100%;
  height: 250px;
}

.ProductBody .Product .productSection {
  width: 100%;
  margin-top: 4%;
}

.ProductBody .Product p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 18px;
}

.ProductsTitle {
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

/*   =========================================  Title  ===========================*/
.Title {
  position: relative;
  display: block;
  text-align: center;
}

.Title p::after {
  content: ' ';
  height: 1px;
  width: 10%;
  display: block;
  background-color: orange;
  margin-left: 45%;

}

.Title p {
  font-family: Georgia, sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.newsfeedTitle {
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

.newsfeedTitle p {
  font-family: Georgia, sans-serif;
  font-size: 30px;
  color: gray;
}

.GalleryTitle {
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

/*===========================  Admin page ==============================*/

.AdminBody {
  position: absolute;
  width: 100%;
}

.AdminNavigation {
  width: 100%;
  background-color: #656464;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 6%;
}

.navItems {
  width: 350px;
  height: 120px;
  margin: 1%;
  text-align: center;
  padding-top: 1.5%;
}

.navItems:hover {
  cursor: pointer;
}

.navItems p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 28px;
}

.AdminNavigation .item1 {
  background-color: #68c9b6;
}

.AdminNavigation .item1:hover {
  background-color: #00d0ff;
}

.AdminNavigation .item2 {
  background-color: #c3ca0a;
}

.AdminNavigation .item2:hover {
  background-color: #00d0ff;
}

.AdminNavigation .item3 {
  background-color: #e27795;
}

.AdminNavigation .item3:hover {
  background-color: #00d0ff;
}

.AdminNavigation .item4 {
  background-color: #a285c5;
}

.AdminNavigation .item4:hover {
  background-color: #00d0ff;
}

.adminOutlet {
  position: relative;
  width: 85%;
  margin-top: 2%;
  margin-left: 7.5%;
  background-color: #656464;

}

.panelTitle {
  font-size: 20px !important;
  margin-bottom: 4% !important;
}

.form-group {
  margin-top: 1%;
  margin-bottom: 1%;
}

.adminTextInput {
  margin-top: 3%;
  margin-bottom: 3%;
  color: gray;
  font-family: georgia, sans-serif;
}

.imageUploader {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.adminSubmitButton {
  margin-left: 80%;
  margin-bottom: 5%;
}

.fa-newspaper-o {
  color: #ffffff;
}

.fa-shopping-cart {
  color: #ffffff;
}

.fa-ban {
  color: #ffffff;
}

/*===========================  gallery ==============================*/

.Gallerybody {
  position: absolute;
  width: 100%;
}


.Gallerybody img {
  width: 100%;
}

.GalleryContainer {
  position: relative;
  margin-top: 6%;
  display: flex;
  flex-flow: row wrap;
}

.GalleryContainer .row {
  margin: 0;
}

.Gallerybody .GalleryContainer img {
  width: 449px;
  height: 380px;
}

.Gallerybody .GalleryContainer .galleryItem {
  position: relative;
}

.Gallerybody .GalleryContainer .galleryItemOverlay{
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  background-color: #ffa74c;
  display: none;
  transition: width 0.4s,height 0.4s;
}
.Gallerybody .GalleryContainer .galleryItem:hover > .galleryItemOverlay
{
  width: 449px;
  height: 380px;
  display: inline;
}
/*============================ adminlogin ==================*/
.adminloginBody {
  position: relative;
  width: 100%;
}

.login {
  position: absolute;
  margin-top: 15%;
  width: 35%;
  margin-left: 33%;
  border-top: 5px solid #ff8303;
  box-shadow: 3px -1px 2px #ff8303;
  padding: 2%;
  background-color: #ffffff;
}

#submitbutton {
  margin-top: 6%;
  margin-left: 41%;
}

iframe {
  width: 650px;
  height: 315px;
}

/*=======================mobile view ========================================*/
@media screen and (max-height: 740px) and (max-width: 500px) {
  .motoBlock {
    display: none;
  }

  .header {
    height: 40px;
  }

  .LandingBody .newsFeedButton {
    margin-left: 30%;
  }

  .LandingBody #Landinglogo {
    display: none;
  }

  .LandingBody .Overlay {
    display: none;
  }

  .LandingBody img {
    height: 736px;

  }

  .header .navtab {
    width: inherit;
  }

  .header .navtab a {
    font-size: 14px;
  }

  .header .navtab:hover::after {
    display: none;
  }

  .LandingBody .newsFeedButton {
    margin-left: 30%;
    margin-top: 140%;
  }

  .GalleryTitle {
    margin-left: 20%;
  }

  .ProductsTitle {
    margin-left: 20%;
  }

  .newsfeedPostContainer {
    margin-left: 0%;
  }

  iframe {
    width: 380px !important;
    margin-left: 0% !important;
  }

  .newsfeedTitle {
    margin-left: 22%;
  }
}
