/* You can add global styles to this file, and also import other style files */

/*----------------------header-------------------------*/

.header {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.Headeroverlay {
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
}
.header .navtab {
  z-index: 2;
  height: inherit;
  width: 200px;
  text-align: center;
  padding-top: 2%;
}
.header .navtab:hover {
  background-color: #000000;
  cursor: pointer;
}
.header .navtab:hover::after {
  display: block;
  content: ' ';
  height: 2px;
  width: 100%;
  background-color: #ff9100;
  margin-top: 13%;
}
.header .navtab a {
  position: relative;
  z-index: 2;
  color: #f5f5f5;
}

.header .navtab a:hover {
  color: #ffffff;
}

/*========================================== landing body =========================*/
.LandingBody {
  position: relative
}

.LandingBody img {
  position: absolute;
  width: 100%;

}
.LandingBody .motowrapper{
  background-color: #000000;
  text-align: center;
  position: relative;
  padding: 10px;
  margin-bottom: 2px;
}
.LandingBody .motoBlock{
  margin-left: 32%;
  margin-top: 20%;
  position: absolute;
}
.LandingBody .motowrapper p{
  font-size: 27px;
  font-family: Georgia, sans-serif;
  color: #ffffff;
  font-weight: bold;
}
.LandingBody #motoLandingText2
{
  width: 550px;

}
.LandingBody #motoLandingText1
 {
   width: 400px;
  margin-left: 14%;
 }
.LandingBody #motoLandingText3
{
  margin-left: 23%;
  width: 300px;
}
.LandingBody span {
  color: orange;

}

.LandingBody .Overlay {
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: #000000;
  opacity: 0.5;
  border-radius: 160px;
  margin-top: 15%;
  margin-left: 5%;
}

.LandingBody #Landinglogo {
  width: 300px;
  height: 300px;
  position: absolute;
  margin-top: 15%;
  margin-left: 5%;
  border-radius: 160px;
}

@font-face {
  font-family: font1;
  src: url(./assets/Packages/fonts/Blacksword.otf);
}

.LandingBody #Landinglogo p {
  color: #ffffff;
  position: relative;
  font-size: 33px;
  font-family: font1;
  margin-left: 14%;
  margin-top: 65%;
}

.LandingBody .newsFeedButton {
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
  position: absolute;
  margin-top: 53%;
  margin-left: 41%;
  background-color: #ff8100;
  border: 1px solid gray;
  border-radius: 0px;
}

.LandingBody .newsFeedButton:hover {
  background-color: #f08400;
  cursor: pointer;
}

.LandingBody .newsFeedButton a {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 25px;
}

.LandingBody .newsFeedButton a:hover {
  color: #ffffff;
}

/*========================================= news feed =======================================*/
.newsFeedBody {
  position: absolute;
  width: 100%;
}

.newsFeedBody .newsfeedBackground {
  position: absolute;
  width: 100%;
}

.newsFeedBody .newsfeedBackground img {
  width: 100%;
}

/*===========news feed post ===============*/
.newsfeedPostContainer {
  position: relative;
  margin-left: 12%;
  margin-top: 12%;
  margin-bottom: 3%;
}

.newsfeedPostContainer .Post .PostPictures img {
  width: 300px;
  height: 300px;
}

.newsfeedPostContainer .Post {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #efe7e7;
  margin-bottom: 5%;
}

.newsfeedPostContainer .PostPictures {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
}

.newsfeedPostContainer .PostPictures div {
  margin-top: 1%;
  margin-bottom: 1%;

}

.newsfeedPostContainer .row iframe {
  width: 650px;
  height: 315px;
  position: relative;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 22%;
}

.newsfeedPostContainer .PostCaption {
  text-align: center;
  position: relative;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

.newsfeedPostContainer .PostCaption p {
  font-size: 20px;
  font-family: Georgia, sans-serif;
}

.newsfeedPostContainer .PostDate {
  text-align: center;
  position: relative;
  display: block;
  margin-left: 65%;
}

/*======================================================= products view =====================*/
.ProductBody {
  position: relative;
}

.ProductBody .ProductBodyBackground {
  position: absolute;
  width: 100%;
}

.ProductBody .ProductBodyBackground img {
  width: 100%;
}

.ProductBody .ProductBodyContainer {
  margin-top: 12%;
  width: 100%;
  position: absolute;
}

.ProductBody .ProductBodyContainer .row {
  width: 100%;
  margin-left: 0;
}

.ProductBody .Product {
  text-align: center;
  background-color: #0d4b50;
  height: 310px;
  padding-top: 1.5%;
  margin: 5px;
  margin-bottom: 10%;
}

.ProductBody .Product img {
  width: 100%;
  height: 200px;
}

.ProductBody .Product .productSection {
  width: 100%;
  margin-top: 4%;
}

.ProductBody .Product p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 18px;
}

.ProductsTitle {
  margin-left: 42%;
}

/*   =========================================  Title  ===========================*/
.Title {
  position: relative;
  display: block;
  text-align: center;
  width: 300px;
}

.Title p::after {
  content: ' ';
  height: 1px;
  width: 30%;
  display: block;
  background-color: orange;
  margin-left: 35%;

}

.Title p {
  font-family: Georgia, sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.newsfeedTitle {
  margin-left: 40%;
  margin-top: 1%;
}

.newsfeedTitle p {
  font-family: Georgia, sans-serif;
  font-size: 30px;
  color: gray;
}

.GalleryTitle {
  margin-left: 42%;
}

/*===========================  gallery ==============================*/

.Gallerybody {
  position: absolute;
  width: 100%;
}

.GalleryBackground {
  position: absolute;
  width: 100%;
}

.Gallerybody img {
  width: 100%;
}

.GalleryContainer {
  position: relative;
  margin-top: 8%;
  padding: 3%;
}

.GalleryContainer .row {
  margin: 0%;
  padding: 0.5%;
  padding-top: 2%;
}

.Gallerybody .GalleryContainer img {
  width: 95%;
  height: 230px;
}

.Gallerybody .GalleryContainer .galleryItem {
  position: relative;
  margin-bottom: 2%;
}

/*============================ adminlogin ==================*/
.adminloginBody {
  position: relative;
  width: 100%;
}

.login {
  position: absolute;
  margin-top: 15%;
  width: 35%;
  margin-left: 33%;
  border: 1px solid #deecde;
  padding: 2%;
}

#submitbutton {
  margin-top: 6%;
  margin-left: 41%;
}
iframe{
  width:650px;
  height:315px;
}
/*=======================mobile view ========================================*/
@media screen and (max-height: 740px) and (max-width: 500px) {
  .motoBlock{
    display: none;
  }
.header{
  height: 40px;
}

  .LandingBody .newsFeedButton {
    margin-left: 30%;
  }

  .LandingBody #Landinglogo {
    display: none;
  }

  .LandingBody .Overlay {
    display: none;
  }

  .LandingBody img {
    height: 736px;

  }


  .header .navtab {
    width: inherit;
  }

  .header .navtab a {
    font-size: 14px;
  }
  .header .navtab:hover::after {
    display: none;
  }
  .LandingBody .newsFeedButton {
    margin-left: 30%;
    margin-top: 140%;
  }
  .GalleryTitle{
    margin-left: 20%;
  }
  .ProductsTitle{
    margin-left: 20%;
  }
  .newsfeedPostContainer{
    margin-left: 0%;
  }
  iframe{
    width: 380px !important;
    margin-left: 0% !important;
  }
  .newsfeedTitle
  {
    margin-left: 22%;
  }
}
